<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="davidhunsaker.boisestate.edu.remote">

    <uses-permission android:name="android.permission.TRANSMIT_IR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tv_remote"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tv_remote"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="davidhunsaker.boisestate.edu.remote.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>